/idea/*
/temp/*
idea/*
temp/*
temp/
idea/
build/
target/
wsl/*
*.patch
.idea/
Debug/
GoOnchain.iml
.log
.DS_Store
*.orig
*.rej
*.tlog
vendor/*
.vs/
!vendor/github.com/TesraSupernet/tesracrypto/*
Chain/*
Chain
/config/*
nodectl
wallet.dat
wallet_data
twallet.dat
twallet_data
cscope*
*.exe
**/*.log
**/*.txt
neosnapshot/*
glide.lock
*.iml
docker/payload
tesranode.json
config.json
peers.cache
peers.current
main
go.sum
tesranode
.vscode
